/*.php
/*.txt
/*.html
/.*
!/.gitignore
!/Last-Word-Email-Wordpres-Plugin/
/wp-admin
/wp-includes
/image-archive
/xml
/csv
/wp-content/debug.log
/wp-content/index.php
/wp-content/plugins/*
!/wp-content/plugins/last-word-*
!/wp-content/plugins/lw-import
!/wp-content/plugins/email-builder
/wp-content/themes/*
!/wp-content/themes/adviser
!/wp-content/themes/lw_expert_inv
!/wp-content/themes/lw_international_adv
!/wp-content/themes/lw_fund_sa
/wp-content/uploads
.DS_Store
